* {
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Trispace", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 16px;
}

.banner {
  display: flex;
  margin-bottom: 40px;
  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 5px #ff0000) drop-shadow(0px 0px 5px #ff0000)
    drop-shadow(0px 0px 5px #ff0000);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 60px;
}

.button {
  border: none;
  background-color: transparent;
}

.rock,
.paper,
.scissors {
  max-height: 350px;
  margin: auto;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.rock {
  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 0px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 10px #c77b38);
}

.paper {
  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 0px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 10px #34eb4f);
}

.scissors {
  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 0px #fff)
    drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 10px #33a2de);
}

.rock:hover,
.active {
  animation-name: rockHover;
}

.paper:hover,
.active {
  animation-name: paperHover;
}

.scissors:hover,
.active {
  animation-name: scissorsHover;
}

@keyframes rockHover {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #fff)
      drop-shadow(0px 0px 10px #c77b38) drop-shadow(0px 0px 30px #995f2c)
      drop-shadow(0px 0px 50px #5c391a);
  }

  100% {
    filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 6px #fff)
      drop-shadow(0px 0px 15px #c77b38) drop-shadow(0px 0px 40px #995f2c)
      drop-shadow(0px 0px 60px #5c391a);
  }
}

@keyframes paperHover {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #fff)
      drop-shadow(0px 0px 10px #34eb4f) drop-shadow(0px 0px 30px #249c35)
      drop-shadow(0px 0px 50px #14571d);
  }

  100% {
    filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 6px #fff)
      drop-shadow(0px 0px 15px #34eb4f) drop-shadow(0px 0px 40px #249c35)
      drop-shadow(0px 0px 60px #14571d);
  }
}

@keyframes scissorsHover {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #fff)
      drop-shadow(0px 0px 10px #33a2de) drop-shadow(0px 0px 30px #247dad)
      drop-shadow(0px 0px 50px #164d6b);
  }

  100% {
    filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 6px #fff)
      drop-shadow(0px 0px 15px #33a2de) drop-shadow(0px 0px 40px #247dad)
      drop-shadow(0px 0px 60px #164d6b);
  }
}

@keyframes title {
  0% {
    filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 3px #fff)
      drop-shadow(0px 0px 10px #33a2de) drop-shadow(0px 0px 30px #247dad)
      drop-shadow(0px 0px 50px #164d6b);
  }

  100% {
    filter: drop-shadow(0px 0px 3px #fff) drop-shadow(0px 0px 6px #fff)
      drop-shadow(0px 0px 15px #33a2de) drop-shadow(0px 0px 40px #247dad)
      drop-shadow(0px 0px 60px #164d6b);
  }
}

.result {
  display: flex;
  text-align: center;
  flex-direction: row;
  gap: 16px;
  font-size: 48px;
}

.moves {
  display: flex;
  margin: 24px;
}

.resultImage {
  max-height: 250px;
}

.winnerImage {
  filter: drop-shadow(0px 0px 1px #fff) drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 5px #ff0000) drop-shadow(0px 0px 5px #ff0000)
    drop-shadow(0px 0px 5px #ff0000);
}

img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
